<div class="jumbotron text-center">
    <h1> MEAN Authentication App </h1>
    <p class="lead">
        Welcome to our custom MEAN authentication buily from scratch 
    </p>
<div>
 <div class="btn-toolbar" >
        <button class="btn btn-primary"  [routerLink]="['/register']">Register</button> 
        <button class="btn btn-default"  [routerLink]="['/login']">Login</button> 
 </div>
<div>
    <span class="span-label">number</span>
    <span class="span-value">1233</span>
</div>

</div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>Express is a minimal and flexible Node.js web application framework that provides a ... Express provides a thin layer of fundamental web application features, ...</p>
    </div>
    <div class="col-md-4">
            <h3>Angular-Cli</h3>
            <p>Express is a minimal and flexible Node.js web application framework that provides a ... Express provides a thin layer of fundamental web application features, ...</p>
    </div>
    <div class="col-md-4">
            <h3>JWT Tokens</h3>
            <p>https://jwt.io
                    JSON Web Token (JWT) is a compact URL-safe means of representing claims to be transferred between two parties. The claims in a JWT are encoded</p>
    </div>
</div>